body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  // &:hover {
  //   color: #fff;
  //   background-color: #000;
  // }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  /*display: table;*/
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.no-padding {
  padding-bottom: 0 !important;
  padding-top: 0px !important;
}

#menu-abm{
  margin-top: 2em;
}

#notice {
  margin-top: 25px;
}

#main-menu a:visited {
  color: #337ab7;
  text-decoration: none;
}

.nav-tabs.nav-justified a, 
.nav-tabs.nav-justified a:focus, 
.nav-tabs.nav-justified a:hover {
  font-size: 1.3em;
}

.table-with-footer tfoot
{
  border-top-style: double;
  border-top-color: rgb(221, 221, 221);  
}

.navbar
{
  margin: 5px;
}

.navbar li a 
{
  color: #c7c7c7 !important;
  font-weight: bold;
}

.navbar li.active a 
{
  color: #00d9d9 !important;
}

input.date-picker
{
  width: 100px;
}

.navbar .dropdown-menu
{
  background-color: #262626;

  a
  {
    font-weight: bold;
  }

  a:focus, a:hover
  {
    color: #262626 !important;
  }
}

.vertical-align {
    display: flex;
    align-items: center;
}