<% if notice %>
  <div id="notice" class="alert alert-success alert-dismissable text-center no-padding">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </div>
<% end %>