<% content_for :title, "Saldos de cuentas" %>

<div class="row">
  <h1 class="col-sm-12">Saldos de cuentas</h1>
</div>

<table class="table table-striped table-responsive table-bordered table-with-footer">
  <thead>
    <tr>
      <th class="text-center">Cuenta</th>
      <th class="text-center">Últ. Fec. Mov.</th>
      <th class="text-center">Importe</th>
    </tr>
  </thead>

  <tbody>
    <% @cuentas.each do |cuenta| %>
      <tr>
        <td><%= cuenta.descripcion_cuenta %></td>
        <td class="text-center"><%= I18n.localize cuenta.max_fecha_mov, format: :fecmov %></td>
        <td class="text-right"><%= number_to_currency cuenta.saldo_inicial + cuenta.importe %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2" class="text-right"><strong>Total: </strong></td>
      <td class="text-right"><%= number_to_currency @total %></td>
    </tr>
  </tfoot>
</table>